<app-auth-layout>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Full Name</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="fullName" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>mail</mat-icon>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput formControlName="confirmPassword" type="password" />
    </mat-form-field>

    <mat-checkbox formControlName="termsAccepted">
      I agree to the <a href="#">terms & conditions</a>
    </mat-checkbox>

    <section>
      <button mat-flat-button class="signup-btn" [disabled]="!registerForm.valid">Create Account</button>
      <p>Already have an account?</p>
      <button mat-button class="login-btn" [routerLink]="'/login'">Login</button>
    </section>
  </form>
</app-auth-layout>
