<header>
  <h2 class="logo">Logo</h2>
  <nav class="navigation">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact</a>
    <button class="btnLogin-popup">Login</button>
  </nav>
</header>
<div class="login-bg">
  <div class="login-card">
    <h2>Login</h2>
    <form>
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</div>
